name: audioplayers_android
description: Android implementation of audioplayers, a Flutter plugin to play multiple audio files simultaneously
version: 0.20.1
homepage: https://github.com/luanpotter/audioplayers
publish_to: none

flutter:
  plugin:
    implements: audioplayers
    platforms:
      android:
        package: xyz.luan.audioplayers
        pluginClass: AudioplayersPlugin

dependencies:
  audioplayers_platform_interface:
    path: ../audioplayers_platform_interface
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flame_lint: 0.0.1
  dartdoc: ^2.0.0

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

