name: audioplayers
description: A flutter plugin to play multiple audio files simultaneously
version: 0.13.6
homepage: https://github.com/luanpotter/audioplayer

flutter:
  plugin:
    androidPackage: xyz.luan.audioplayers
    pluginClass: AudioplayersPlugin

dependencies:
  uuid: ^2.0.4
  path_provider: ^1.5.1
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  http: ^0.12.0+3
  test: ^1.9.4

environment:
  sdk: ">=2.0.0-dev.50.0 <3.0.0"
