name: audioplayers
description: A flutter plugin to play multiple audio files simultaneously
version: 0.5.0
author: Luan Nico <luannico27@gmail.com>
homepage: https://github.com/luanpotter/audioplayer

flutter:
  plugin:
    androidPackage: bz.rxla.audioplayer
    pluginClass: AudioplayerPlugin

dependencies:
  uuid: ^0.5.3
  flutter:
    sdk: flutter

environment:
  sdk: ">=2.0.0-dev.50.0 <2.0.0"
