name: audioplayers_web
description: Web implementation of audioplayers, a Flutter plugin to play multiple audio files simultaneously
version: 1.0.0-rc.3
homepage: https://github.com/luanpotter/audioplayers

flutter:
  plugin:
    platforms:
      web:
        pluginClass: AudioplayersPlugin
        fileName: audioplayers_web.dart

dependencies:
  audioplayers_platform_interface: ^1.0.0-rc.2
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flame_lint:
    git:
      url: 'https://github.com/flame-engine/flame.git'
      path: 'packages/flame_lint'
  dartdoc: ^2.0.0

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"
