name: audioplayers_darwin
description: iOS and macOS implementation of audioplayers, a Flutter plugin to play multiple audio files simultaneously
version: 1.0.0-rc.4
homepage: https://github.com/luanpotter/audioplayers

flutter:
  plugin:
    implements: audioplayers
    platforms:
      ios:
        pluginClass: AudioplayersDarwinPlugin
      macos:
        pluginClass: AudioplayersDarwinPlugin

dependencies:
  audioplayers_platform_interface: ^1.0.0-rc.2
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flame_lint: 0.0.1
  dartdoc: ^2.0.0

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

