name: pull-request
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  call-test:
    uses: ./.github/workflows/test.yml
    if: github.event.pull_request.draft == false
  
  call-build:
    uses: ./.github/workflows/build.yml
    if: github.event.pull_request.draft == false
